body {
    background: rgb(243,227,209) none repeat scroll 0 0;
    color: rgb(69,41,46);
    font-family:Helvetica;
    font-size:72%;
    line-height:1.5em;
    margin:0;
    border-top:1px solid #393939;
}

.box {
	border: 1px solid rgb(69,41,46);
    border-radius: 5px;
    margin:15px 6px 0;
    width:295px;
    padding:4px 0px 2px 10px;
}

.box > li {
	font-size:.95em;
    margin:5px 0;
}

#info{
    background: rgb(214,99,88);
}

#notification {
    background: rgb(106,159,133);
}

#accelerometer {
    background: rgb(223,157,118);
}

